@import '../assets/less/_colors.less';
@import '../assets/less/_mixins.less';

.container{
	.flex-display();
	height: 100%;
}

.door{
	margin-left: -17px;
	position: relative;

	&:after{
		background-color: brown;
		border: 1px solid black;
		content: '';
		height: 150px;
		position: absolute;
		top: 25px;
		width: 10px;
	}
}

.header{
	background-color: @white;
	box-shadow: 0 0 10px fade(@black; 50%);
	padding: 8px;
	position: sticky;
	top: 0;
	z-index: 1;

	&__options{
		.align-items(center);
		.flex-display();
		.justify-content(space-between);
	}
}

.parking{
	background-color: grey;
	border: 3px solid black;
	margin: 10px;
	padding-right: 500px;
}

.queue{
	.flex-grow(1);
	padding-left: 20px;

	&__list{
		.flex-display();
		transform: rotate(90deg);
		transform-origin: left bottom;
	}
	&::ng-deep vehicle{
		.align-items(center);
		.flex-display();
	}
}