<header class="header">
	<div class="row">
		<div class="col-6 ml-auto mr-auto">
			<div class="header__options">
				<button class="btn btn-primary" (click)="addVehicle(type)" *ngFor="let type of types">Add {{type}}</button>
			</div>
		</div>
	</div>
</header>
<div class="container">
    <aside class="parking">
    	<cell *ngFor="let cell of cells" [size]="cell.size" [id]="cell.id" [vehicle]="cell.vehicle" (release)="releaseVehicle($event)"></cell>
    </aside>
    <div class="door"></div>
    <div class="queue">
    	<div class="queue__list">
    		<vehicle *ngFor="let vehicle of queuedVehicles" [vehicle]="vehicle"></vehicle>
    	</div>
    </div>
</div>