<div class="cell cell__{{size}}">
	<vehicle [vehicle]="vehicle" *ngIf="vehicle"></vehicle>
	<div class="cell__popup" *ngIf="vehicle">
		<button class="btn btn-danger" (click)="releaseVehicle()">Release vehicle</button>
	</div>
</div>