@import '../../../assets/less/_colors.less';
@import '../../../assets/less/_mixins.less';

.cell{
	.align-items(center);
	border-top: 2px solid @yellow;
	border-bottom: 2px solid @yellow;
	.flex-display();
	height: 30px;
	padding: 4px 0;
	position: relative;
	width: 260px;

	&:hover{
		background-color: fade(@gray-light, 20%);
		cursor: pointer;

		.cell__popup{
			display: block;
		}
	}

	&__large{
		height: 139px;
	}
	&__medium{
		height: 102px;
	}

	&__popup{
		display: none;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&__small{
		height: 69px;
	}
}