@import '../../../assets/less/_colors.less';
@import '../../../assets/less/_mixins.less';

.vehicle{
	&__container{
		padding: 8px;
		position: relative;

		&::after{
			.align-items(center);
			background-color: @white;
			border: 1px solid @black;
			border-radius: 50%;
			content: attr(id);
			.flex-display();
			font-size: 11px;
			height: 20px;
			.justify-content(center);
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 20px;
		}
	}
	&__Motorcycle{
		transform: rotate(180deg);
		width: 100px;
	}
	&__Sedan{
		width: 130px;
	}
	&__Truck{
		width: 200px;
	}
}